body {
  background-color: #4682b4;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  
}

.word {
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-left:20px;
  padding-right:20px
}

.image-Grid {
  display:grid;
  grid-template-rows: 121px 121px 121px;
  grid-template-columns: 121px 121px 121px;
  position:absolute;
  top:45%;
  margin-left:37%

}

.letter {
  background: #fff;
    border: 1px solid #999;
    float: center;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;

}
